{extend name='admin@main'}

{block name="style"}
<style>
    .keys-container .input-group-addon {
        top: 0;
        right: 0;
        color: #eee;
        width: 25px;
        padding: 7px;
        position: absolute;
        margin-top: -1px;
        text-align: center;
        background: #393D49
    }

    .keys-container [data-tips-image] {
        width: 112px;
        height: auto
    }

    .keys-container .layui-card {
        width: auto;
        height: auto;
        position: absolute;
        border: 1px solid #ccc
    }

    .keys-container .layui-card .layui-card-body {
        height: 515px;
        padding-right: 50px
    }
</style>
{/block}

{block name="content"}

<div class="keys-container">
<!--    <form class="layui-form" onsubmit="return false" autocomplete="off" data-auto="true" action="{:request()->url()}"-->
    <form class="layui-form" onsubmit="return false" autocomplete="off" data-auto="true" action="{:url('server')}" method="post">
        <div class="layui-card relative">
            <div class="layui-card-header layui-bg-gray text-center">IPA</div>

            <div class="layui-form-item margin-top-20 margin-right-20">
                <label class="layui-form-label">包地址<br><span class="nowrap color-desc"></span></label>
                <div class="layui-input-block">
                    <input class="layui-input" onchange="$(this).nextAll('img').attr('src', this.value)"
                           name="image_url" required placeholder="请上传包或输入包URL地址">
                    <a data-file="btn" data-type="ipa" data-field="image_url" class="input-group-addon"><i
                            class="layui-icon layui-icon-upload"></i></a>
                    <p class="help-block">上传文件最大100Mb</p>
                </div>
            </div>

             <div class="layui-form-item margin-top-20 margin-right-20">
                <label class="layui-form-label">包名<br><span class="nowrap color-desc"></span></label>
                <div class="layui-input-block">
                    <input name="server_name" required placeholder="请输入包名（必填）" value="{:sysconf('server_name')}"
                           class="layui-input">
                    <p class="help-block">上传到服务器的包名</p>
                </div>
            </div>

            <div class="layui-form-item margin-top-20 margin-right-20">
                <label class="layui-form-label">服务器IP<br><span class="nowrap color-desc"></span></label>
                <div class="layui-input-block">
                    <input name="server_ip" required placeholder="请输入IP地址（必填）" value="{:sysconf('server_ip')}"
                           class="layui-input">
                    <p class="help-block">上传到指定服务器地址</p>
                </div>
            </div>

            <div class="layui-form-item margin-top-20 margin-right-20">
                <label class="layui-form-label">密码<br><span class="nowrap color-desc"></span></label>
                <div class="layui-input-block">
                    <input name="server_pwd" required placeholder="请输入服务器密码（必填）" value="{:sysconf('server_pwd')}"
                           class="layui-input">
                    <p class="help-block">连接服务器的密码</p>
                </div>
            </div>

            <div class="layui-form-item margin-top-20 margin-right-20">
                <label class="layui-form-label">路径<br><span class="nowrap color-desc"></span></label>
                <div class="layui-input-block">
                    <input name="server_path" required placeholder="请输入路径（必填）" value="{:sysconf('server_path')}"
                           class="layui-input">
                    <p class="help-block">上传到服务器的路径</p>
                </div>
            </div>


            <div class="text-center padding-bottom-10  full-width" style="bottom:0;margin-left:-15px">
                <div class="hr-line-dashed margin-top-10 margin-bottom-10 margin-left-30"></div>
                <button class="layui-btn menu-submit margin-left-30">保存数据</button>
            </div>
        </div>
    </form>
    <!--</div>-->
    {/block}

    {block name="script"}
<!--    <script>-->

<!--        $(function () {-->

<!--            var $body = $('body');-->

<!--            // 取消编辑返回-->
<!--            $('[data-cancel-edit]').on('click', function () {-->
<!--                $.msg.confirm('确定取消编辑吗？', function (index) {-->
<!--                    history.back(), $.msg.close(index);-->
<!--                });-->
<!--            });-->

<!--            // 刷新预览显示-->
<!--            function showReview(params) {-->
<!--                var src = '';-->
<!--                if (params['type'] === 'news') {-->
<!--                    src = '{:url("@wechat/api.review/news/_id_")}'.replace('_id_', params.content);-->
<!--                } else {-->
<!--                    src = '{:url("@wechat/api.review/_type_")}?'.replace('_type_', params.type) + $.param(params || {});-->
<!--                }-->
<!--                $('#phone-preview').attr('src', src);-->
<!--            }-->

<!--            // 图文显示预览-->
<!--            $body.off('change', '[name="news_id"]').on('change', '[name="news_id"]', function () {-->
<!--                showReview({type: 'news', content: this.value});-->
<!--            });-->

<!--            // 文字显示预览-->
<!--            $body.off('change', '[name="content"]').on('change', '[name="content"]', function () {-->
<!--                showReview({type: 'text', content: this.value});-->
<!--            });-->

<!--            // 图片显示预览-->
<!--            $body.off('change', '[name="image_url"]').on('change', '[name="image_url"]', function () {-->
<!--                showReview({type: 'image', content: this.value});-->
<!--            });-->

<!--            // 图片显示预览-->
<!--            $body.off('change', '[name="voice_url"]').on('change', '[name="voice_url"]', function () {-->
<!--                showReview({type: 'voice', content: this.value});-->
<!--            });-->

<!--            // 音乐显示预览-->
<!--            var musicSelector = '[name="music_url"],[name="music_title"],[name="music_desc"],[name="music_image"]';-->
<!--            $body.off('change', musicSelector).on('change', musicSelector, function () {-->
<!--                var params = {type: 'music'}, $parent = $(this).parents('form');-->
<!--                params.url = $parent.find('[name="music_url"]').val();-->
<!--                params.desc = $parent.find('[name="music_desc"]').val();-->
<!--                params.title = $parent.find('[name="music_title"]').val();-->
<!--                params.image = $parent.find('[name="music_image"]').val();-->
<!--                showReview(params);-->
<!--            });-->

<!--            // 视频显示预览-->
<!--            var videoSelector = '[name="video_title"],[name="video_url"],[name="video_desc"]';-->
<!--            $body.off('change', videoSelector).on('change', videoSelector, function () {-->
<!--                var params = {type: 'video'}, $parent = $(this).parents('form');-->
<!--                params.url = $parent.find('[name="video_url"]').val();-->
<!--                params.desc = $parent.find('[name="video_desc"]').val();-->
<!--                params.title = $parent.find('[name="video_title"]').val();-->
<!--                showReview(params);-->
<!--            });-->

<!--            // 默认类型事件-->
<!--            $body.off('click', 'input[name=type]').on('click', 'input[name=type]', function () {-->
<!--                var value = $(this).val(), $form = $(this).parents('form');-->
<!--                if (value === 'customservice') value = 'text';-->
<!--                var $current = $form.find('[data-keys-type="' + value + '"]').removeClass('layui-hide');-->
<!--                $form.find('[data-keys-type]').not($current).addClass('layui-hide');-->
<!--                switch (value) {-->
<!--                    case 'news':-->
<!--                        return $('[name="news_id"]').trigger('change');-->
<!--                    case 'text':-->
<!--                        return $('[name="content"]').trigger('change');-->
<!--                    case 'image':-->
<!--                        return $('[name="image_url"]').trigger('change');-->
<!--                    case 'video':-->
<!--                        return $('[name="video_url"]').trigger('change');-->
<!--                    case 'music':-->
<!--                        return $('[name="music_url"]').trigger('change');-->
<!--                    case 'voice':-->
<!--                        return $('[name="voice_url"]').trigger('change');-->
<!--                    case 'customservice':-->
<!--                        return $('[name="content"]').trigger('change');-->
<!--                }-->
<!--            });-->

<!--            // 默认事件触发-->
<!--            $('input[name=type]:checked').map(function () {-->
<!--                $(this).trigger('click');-->
<!--            });-->

<!--        });-->
<!--    </script>-->
    {/block}